@model Markers_GPS_Coordiantes.Data.VMarkerApplicationReport


@{
    ViewData["Title"] = "Marker Application Report";
}
<script src="Admin/plugins/jquery/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">



<div class="col-12 table-content">

    @*<select asp-items="ViewBag.SubjectName">
            <option value="" disabled selected>Center</option>
        </select>
        <label for="birthday">From:</label>
        <input class="edit-input-tag short " type="date" id="timeOfArrival" name="markerssearch">
        <label for="birthday">To:</label>
        <input class="edit-input-tag short " type="date" id="To" name="markerssearch">*@


    @*<form asp-action="Filter">
            <div id="divInterestDeatils"></div>
            <ol>
                <li>
                    @Html.Label("Amount")
                    @Html.TextBox("fromDate")
                </li>
                <li>
                    @Html.Label("Rate")
                    @Html.TextBox("toDate")
                </li>
                <li>
                    @Html.Label("Year")
                    @Html.TextBox("txtYear")
                </li>
            </ol>
            <input type="submit" value="Save" class="btn btn-primary" />
        </form>*@


    <form asp-action="Index" method="get"style="padding-bottom:20px">

        <select asp-for="Subject" class="col-sm-2 edit-input-tag short" type="text">
            <option value="" disabled selected>Select Subject</option>

            <option >English</option>
            <option>Geography</option>
            <option>Economics</option>
            <option>Business Studies</option>
            <option>Agricultural Sciences</option>
            <option>Life Sciences</option>
            <option>Mathematical Literacy</option>
        </select>

        <select asp-for="Position" class="col-sm-2 edit-input-tag left" type="text">
            <option value="" disabled selected>Select Position</option>
            <option>Marker</option>
            <option>Senior Marker</option>
            <option>Deputy Chief Marker</option>
        </select>

        <select class="col-sm-2 edit-input-tag left" type="text">
            <option value="" disabled selected>Select Current Position</option>
            <option>Chief Marker (GDE)</option>
            <option>Internal Moderator (GDE)</option>
            <option>National Examination Pane/Umalusi</option>
            <option>Position at DBE/Umalusi</option>
        </select>

        <a class="btn btn-dark" href="@Url.Action("ExportToExcel","MarkerApplicationReport")" style="
    position: fixed;
    top: 90%;
    left: 91%;
    z-index: 1;
" role="button">Download @*<i class='fas fa-file-download'>*@ </a>
    </form>
   
</div>

