@model IEnumerable<Markers_GPS_Coordiantes.Data.Subject>

@{
    ViewData["Title"] = "Index";
}

    <center><h2 class="text-primary" style="padding-top:100px;"><strong>Subjects</strong></h2></center>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.SubjectToken)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SubjectName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsDeleted)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreateDate)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.SubjectToken)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SubjectName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsDeleted)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreateDate)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.SubjectId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.SubjectId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.SubjectId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
