@model Markers_GPS_Coordiantes.Data.Center

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Center</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CenterToken)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CenterToken)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CenterName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CenterName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CenterNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CenterNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CenterDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CenterDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Longitude)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Latitude)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeletedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeletedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastModifiedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastModifiedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.City.CityDescription)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedByUsers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedByUsers.Loginname)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeletedByUsers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeletedByUsers.Loginname)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastModifiedByUsers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastModifiedByUsers.Loginname)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CenterId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
