@model Markers_GPS_Coordiantes.Data.Center

@{
    ViewData["Title"] = "Details";
}

<center><h2 class="text-primary" style="padding-top:50px;"><strong>Marking Center Details</strong></h2></center>

<hr />
<dl class="row justify-content-center">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.CenterToken)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.CenterToken)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.CenterName)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.CenterName)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.CenterNumber)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.CenterNumber)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.CenterDescription)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.CenterDescription)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Longitude)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Longitude)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Latitude)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Latitude)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.DeletedDate)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.DeletedDate)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.DeletedByUsersId)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.DeletedByUsersId)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.LastModifiedByUsersId)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.LastModifiedByUsersId)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.LastModifiedDate)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.LastModifiedDate)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.CreatedByUsersId)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.CreatedByUsersId)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.CreateDate)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.CreateDate)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.IsDeleted)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.IsDeleted)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.City)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.City.CityDescription)
    </dd>
</dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CenterId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
