@model IEnumerable<Markers_GPS_Coordiantes.Data.Center>

@{
    ViewData["Title"] = "Index";
}

<center><h2 class="text-primary" style="padding-top:50px;"><strong>Marking Centers</strong></h2></center>


<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.CenterName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CenterNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CenterDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Longitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Latitude)
            </th>
           
       
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>

                <a asp-action="Create" class="btn btn-outline-success"><i class="far fa-plus-square"></i>Center</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.CenterName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CenterNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CenterDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Longitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Latitude)
            </td>
          

            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.City.CityDescription)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CenterId"><i class="fa fa-marker fa-md"title="Edit"></i></a> |
                <a asp-action="Details" asp-route-id="@item.CenterId" class="text-dark ml-1"><i class="fa fa-info-circle fa-md"title="Details"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.CenterId" class="text-danger ml-1"><i class="fa fa-trash-alt fa-md"title="Delete"></i></a>
            </td>
        </tr>
        }
    </tbody>
</table>
