@model IEnumerable<Markers_GPS_Coordiantes.Data.UsersRole>

@{
    ViewData["Title"] = "Index";
}

<center><h2 class="text-primary" style="padding-top:100px;"><strong>Assign Roles</strong></h2></center>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedByUsers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users)
            </th>
            <th>
                <a asp-action="Create" class="btn btn-outline-success"><i class="far fa-plus-square"></i>Assign</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedByUsers.Loginname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Role.RoleDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Users.Loginname)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.UsersRoleId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.UsersRoleId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.UsersRoleId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
