@model IEnumerable<Markers_GPS_Coordiantes.Data.VMarkersGpscoordinates>

@{
    ViewData["Title"] = "Index";
}

<center><h2 class="text-primary" style="padding-top:50px;"><strong>Makers Report</strong></h2></center>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhysicalAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CentreNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CenterName)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.SubjectName)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.PaperNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PositionDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Distance)
            </th>
            <th>

            <th>


            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhysicalAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CentreNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CenterName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubjectName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaperNumber)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.PositionDescription)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Distance)+
                </td>

            </tr>
        }
    </tbody>
</table>
