@model IEnumerable<Markers_GPS_Coordiantes.Data.VMarkersGpscoordinates>

@{
    ViewData["Title"] = "Distance Report";
}
<script src="Admin/plugins/jquery/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<a class="btn btn-dark" href="@Url.Action("ExportToExcel","MarkersReport")" style="
    position: absolute;
    top: 70%;
    left: 91%;
    z-index: 1;
" role="button">Download @*<i class='fas fa-file-download'>*@ </a>

<div class="col-10" style="padding-top:20px">

    @*<select asp-items="ViewBag.SubjectName">
            <option value="" disabled selected>Center</option>
        </select>

        <label for="birthday">From:</label>
        <input class="edit-input-tag short " type="date" id="timeOfArrival" name="markerssearch">
        <label for="birthday">To:</label>
        <input class="edit-input-tag short " type="date" id="To" name="markerssearch">*@





    <label for="from">From:</label>
    <input class="edit-input-tag short" id="date" name="from">
    <label for="from">To:</label>
    <input class="edit-input-tag short " id="to" name="from">



    <script>
        $('#date').on('change', function () {
            var $j = jQuery.noConflict();
            var dateToday = $j("#date").datepicker('getDate')
            var dateToday2 = new Date();
            console.log(dateToday);
            console.log(dateToday2);
            $j('#to').datepicker('destroy');
            var dates = $j("#to").datepicker({
                defaultDate: "+1w",
                numberOfMonths: 1,
                minDate: dateToday,
                onSelect: function (selectedDate) {
                    var option = this.id == "date" ? "minDate" : "maxDate",
                        date = $j.datepicker.parseDate(selectedDate);
                    dates.not(this).datepicker("option", option, date);
                }
            });
            //$('#date').datepicker('destroy');


        });


        var $j = jQuery.noConflict();
        var dates = $j("#date").datepicker({
            defaultDate: "+1w",
            numberOfMonths: 1
        });


    </script>




    <table class="table">
        <thead style="color:#fff; background-color: #000000;" class="font-weight-bold">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FullName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PhysicalAddress)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CentreNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CenterName)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.SubjectName)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.PaperNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PositionDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Distance)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhysicalAddress)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CentreNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CenterName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SubjectName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PaperNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PositionDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Distance)+
                    </td>

                </tr>
            }
        </tbody>
    </table>

</div>
