@model IEnumerable<Markers_GPS_Coordiantes.Data.MarkersGpscoordinates>

@{
    ViewData["Title"] = "Markers Information";

}
<div class="col-10 table-content" style="padding-top:20px">

    <form method="get" asp-action="Index">

        @*<p>
                <div>
                    <input type="search" placeholder="Enter Loginname " class="edit-input-tag short" value="@ViewData["GetMarkersDetails"]" name="markerssearch" style="width:250px;padding-right:10px;" />
                    <img classs="search-icon" src="~/Images/searc-icon.svg" />
                </div>


                <a asp-action="Create" class="butt-primary white-text margin-right">Create User +</a>
                <a asp-action="Index" class="butt-secondary grey-text">Retrieve All Users</a>
            </p>*@

        <div class="acc-top">
            <div class="search-bar-container margin-right">
                <input class="search-bar" type="text" placeholder="Search" value="@ViewData["GetMarkersDetails"]" name="markerssearch" />
                <input type="submit" value="Search" class="btn btn-primary" />
                <div class="search-icon-container acc-search-bar">
                    <img class="search-icon" src="./images/searc-icon.svg">
                </div>
            </div>

            <div class="create margin-right">
                <button class="butt-primary" asp-action="Create">Create User +</button>
            </div>

            <div class="retrieve">
                <button class="butt-secondary" asp-action="Index">Retrieve All Users</button>
                <button class="butt-primary" asp-action="Import">Import</button>
                <a class="butt-secondary" href="@Url.Action("ExportToExcel","MarkersGpscoordinates")" role="button"><strong>Download</strong><i class=' fas fa-file-download '></i></a>
            </div>
        </div>
    </form>

    <div style="padding-top:20px">
        <table class="table start-hidden no-border-top" style="padding-top:20px">
            <thead class="table-head-container">
                <tr>
                    <th class="table-head">
                        @Html.DisplayNameFor(model => model.CentreNumber)
                    </th>

                    <th class="table-head">
                        @Html.DisplayNameFor(model => model.FullName)
                    </th>
                    <th class="table-head">
                        @Html.DisplayNameFor(model => model.IdNumber)
                    </th>

                    <th class="table-head">
                        @Html.DisplayNameFor(model => model.PhysicalAddress)
                    </th>
                    <th class="table-head">
                        @Html.DisplayNameFor(model => model.PostalCode)
                    </th>
                    <th class="table-head">
                        @Html.DisplayNameFor(model => model.PersalNumber)
                    </th>


                    <th class="table-head">
                        @Html.DisplayNameFor(model => model.WorkTelephone)
                    </th>

                    <th class="table-head">
                        @Html.DisplayNameFor(model => model.HomeTelephone)
                    </th>
                    <th class="table-head">
                        @Html.DisplayNameFor(model => model.Cellphone)
                    </th>

                    <th class="table-head">
                        @Html.DisplayNameFor(model => model.Latitude)
                    </th>
                    <th class="table-head">
                        @Html.DisplayNameFor(model => model.Longitude)
                    </th>

                    <th class="table-head">
                        @Html.DisplayNameFor(model => model.CreatedDate)
                    </th>
                    <th class="table-head">
                        @Html.DisplayNameFor(model => model.Center)
                    </th>
                    <th class="table-head">
                        @Html.DisplayNameFor(model => model.Exam)
                    </th>
                    <th class="table-head">
                        @Html.DisplayNameFor(model => model.Gender)
                    </th>
                    <th class="table-head">
                        @Html.DisplayNameFor(model => model.Position)
                    </th>

                    <th class="table-head">
                        @Html.DisplayNameFor(model => model.Race)
                    </th>
                    <th class="table-head">
                        @Html.DisplayNameFor(model => model.Subject)
                    </th>
                    <th class="table-head">
                        @Html.DisplayNameFor(model => model.Users)
                    </th>
                    <th>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="table-data">
                            @Html.DisplayFor(modelItem => item.CentreNumber)
                        </td>
                        <td class="table-data">
                            @Html.DisplayFor(modelItem => item.FullName)
                        </td>
                        <td class="table-data">
                            @Html.DisplayFor(modelItem => item.IdNumber)
                        </td>
                        <td class="table-data">
                            @Html.DisplayFor(modelItem => item.PhysicalAddress)
                        </td>
                        <td class="table-data">
                            @Html.DisplayFor(modelItem => item.PostalCode)
                        </td>
                        <td class="table-data">
                            @Html.DisplayFor(modelItem => item.PersalNumber)
                        </td>
                        <td class="table-data">
                            @Html.DisplayFor(modelItem => item.WorkTelephone)
                        </td>

                        <td class="table-data">
                            @Html.DisplayFor(modelItem => item.HomeTelephone)
                        </td>
                        <td class="table-data">
                            @Html.DisplayFor(modelItem => item.Cellphone)
                        </td>
                        <td class="table-data">
                            @Html.DisplayFor(modelItem => item.Latitude)
                        </td>
                        <td class="table-data">
                            @Html.DisplayFor(modelItem => item.Longitude)
                        </td>
                        <td class="table-data">
                            @Html.DisplayFor(modelItem => item.CreatedDate)
                        </td>
                        <td class="table-data">
                            @Html.DisplayFor(modelItem => item.Center.CenterName)
                        </td>
                        <td class="table-data">
                            @Html.DisplayFor(modelItem => item.Exam.PaperNumber)
                        </td>
                        <td class="table-data">
                            @Html.DisplayFor(modelItem => item.Gender.GenderDescription)
                        </td>
                        <td class="table-data">
                            @Html.DisplayFor(modelItem => item.Position.PositionDescription)
                        </td>
                        <td class="table-data">
                            @Html.DisplayFor(modelItem => item.Race.RaceDescription)
                        </td>
                        <td class="table-data">
                            @Html.DisplayFor(modelItem => item.Subject.SubjectName)
                        </td>
                        <td class="table-data">
                            @Html.DisplayFor(modelItem => item.Users.Loginname)
                        </td>

                        <td class="table-data td-icon">
                            <a asp-action="Edit" asp-route-id="@item.MarkersId"><img class="table-icon" title="Edit" src="~/Images/edit.svg" /></a>
                            <a asp-action="Delete" asp-route-id="@item.MarkersId" class="text-danger ml-1" title="Delete"><img class="table-icon" src="~/Images/trash.svg" /></a>
                            <a asp-action="EmailPassword" asp-route-id="@item.UsersId"><img class="table-icon" title="Email password" src="~/Images/edit.svg" /></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>


    </div>

</div>

<script>
    function scrollWin() {
        window.scrollTo(500, 0);
    }
</script>