@model IEnumerable<Markers_GPS_Coordiantes.Data.Users>

@{
    ViewData["Title"] = "Index";
}

<h2 class="text-primary" style="padding-top:100px;"><strong>Users Login</strong></h2>
<form method="get" asp-action="Index">

    <p>
        <input type="search" placeholder="Enter Loginname" value="@ViewData["GetMarkersDetails"]" name="markerssearch" style="width:300px;" />
        <input type="submit" value="Search" class="btn btn-primary" />
        <a asp-action="Index">Retrieve all Users</a>
    </p>
</form>


<p>
    <a asp-action="Create" class="btn btn-outline-success"><i class="far fa-plus-square"></i>Create User</a>
</p>
<table class="table">
    <thead>
        <tr>
          
            <th>
                @Html.DisplayNameFor(model => model.Loginname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Firstname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lastname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MobileNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telephone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Displayname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostalAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhysicalAddress)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.LastModifiedDate)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
           
          
            <th>

             

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                
                <td>
                    @Html.DisplayFor(modelItem => item.Loginname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Firstname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lastname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmailAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MobileNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telephone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Displayname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PostalAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhysicalAddress)
                </td>
               
                <td>
                    @Html.DisplayFor(modelItem => item.LastModifiedDate)
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.CreateDate)
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.Center.CenterName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender.GenderDescription)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.UsersId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.UsersId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.UsersId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
