@model IEnumerable<Markers_GPS_Coordiantes.Data.Marker>

@{
    ViewData["Title"] = "Index";
}

    <h1>Index</h1>

    <p>
        <a method="get"asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.MarkerToken)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Surname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Initials)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Gender)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Persal)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MaidenName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nationality)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DeletedDate)
                </th>
                <th>
          
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.MarkerToken)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Surname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Initials)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Gender)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Persal)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MaidenName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nationality)
                    </td>
                  
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.IdentityNo">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.IdentityNo">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.IdentityNo">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <script>function scrollWin() {
        window.scrollTo(500, 0);
    }</script>