@model IEnumerable<Markers_GPS_Coordiantes.Data.Exam>

@{
    ViewData["Title"] = "Index";
}

<center><h2 class="text-primary" style="padding-top:100px;"><strong>Assign Paper No Marking Center</strong></h2></center>

<a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ExamToken)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaperNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeletedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeletedByUsersId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastModifiedByUsersId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastModifiedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedByUsersId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDeleted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Center)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ExamToken)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaperNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeletedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeletedByUsersId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastModifiedByUsersId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastModifiedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedByUsersId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsDeleted)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Center.CenterName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Subject.SubjectName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ExamId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ExamId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ExamId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
